*{
    box-sizing: border-box;
    margin:0;
    border: 0;
}

body{
    background-color: #bfc2ca;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: lightblue;
    background-image: linear-gradient(45deg,#7face1, #235177);
    color: rgb(214, 207, 207);
    margin: 75px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80vh;
    width: 85%;
    max-width: 810px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.location,
.temprature,
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 25vh;
    width: 80%;  
}

/* Location */
.location h1{
    text-align: center;
    font-size: 2.2em;
}

.location img{
    width: 40%;
    border-radius: 50px;
}

/* Temprature */
.temprature{
    justify-content: space-around;
    padding: 80px;
    cursor: pointer;/* So the user knows that this part is click/changeable */
    font-size: 28px;/* The area of most interest and the most informative */
    height: 35vh;
    width: 50%;
}
.temprature span{
    font-size: 28px;
}

/* Details */
.details{
  align-items: center;cursor: pointer; /* So the user knows that this part is click/changeable */
}

.details .col{
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
}

.details .col img{
    height: 5vh;
}

.details .col p:first-child{
    margin-top: 10px;
}
